<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Your Name</h3>
              <nav>
                <ul class="nav masthead-nav">
               

                  <li><h3><a class="fa fa-twitter social-icon" href="http://twitter.com/NeilP666" target="_blank"></a></h3></li>
                   <li><h3><a class="fa fa-facebook social-icon" href="http://facebook.com" target="_blank"></a></h3></li>
                    <li><h3><a class="fa fa-instagram social-icon" href="http://instagram.com" target="_blank"></a></h3></li>
                  
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">We Are Working on Something<br> Very Interesting.</h1>
            <p class="lead">Join the waiting list for the beta &  We keep you posted.</p>

            <div class="ortala"><button class="sa">
            </button><input></input></div>
          </div>
         

          <div class="mastfoot">
            <div class="inner">
              <p>by <a href="http://neilpatel.co/">Neil</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>






