<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Your Name</h3>
              <nav>
                <ul class="nav masthead-nav">
               

                  <li><h3><a class="fa fa-twitter social-icon" href="http://twitter.com/NeilP666" target="_blank"></a></h3></li>
                   <li><h3><a class="fa fa-facebook social-icon" href="http://twitter.com/NeilP666" target="_blank"></a></h3></li>
                    <li><h3><a class="fa fa-instagram social-icon" href="http://twitter.com/NeilP666" target="_blank"></a></h3></li>
                  
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">We Are Working on Something Very Interesting.</h1>
            <p class="lead">Join the waiting list for the beta. We keep you posted. </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-danger btn-round">Learn more</a>


             
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>by <a href="http://neilpatel.co/">Neil</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>
