<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coming Soon 2015 | A Free Responsive Coming Soon Page </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=' A Responsive Coming Soon Page In Ruby on Rails , HTML & CSS'>
  <meta name="author" content="Neil Patel">

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  
</head>
<body>

<%= yield %>

</body>
</html>
