<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coming Soon 2015 | A Free Responsive Coming Soon Page </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content=' A Free Responsive Coming Soon Page In Ruby on Rails , HTML & CSS'>
  <meta name="author" content="Neil Patel">



  <meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@neilp666">
<meta name="twitter:creator" content="@neilp666">
<meta name="twitter:title" content="A Free Responsive Coming Soon Page ">
<meta name="twitter:description" content="A Free Responsive Coming Soon Page In Ruby on Rails , HTML & CSS. An attractive “coming soon” page allow your potential customers that you mean business & that they should check you out in the future.">
<meta name="twitter:image" content="https://dl.dropboxusercontent.com/s/phrqfxef0c4x69x/river1.jpg'">

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  
</head>
<body>

<%= yield %>

</body>
</html>
